<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title> Finques i visites =) </title>  

        <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
        <!--<link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">  -->
        <link rel="stylesheet" href="styles/onsen-css-components-custom-theme.css">  
        <!--<link rel="stylesheet" href="styles/app.css"/>-->
        <link rel="stylesheet" href="styles/style.css"/>
        <script src="lib/onsen/js/angular/angular.js"></script>    
        <script src="lib/onsen/js/onsenui.js"></script>    
        <script src="cordova.js"></script>
        <script src="script.js"></script>

    </head>

    <body ng-controller="MainCtrl">    

    <ons-sliding-menu
        menu-page="menu.html" 
        main-page="finques.html" 
        side="left"
        var="menu" 
        type="reveal" 
        max-slide-distance="260px" 
        swipable="true">
    </ons-sliding-menu>
    <!--menu-->
    <ons-template id="menu.html">
        <ng-include src="'htmls/sideMenu.html'"></ng-include>
    </ons-template>
    <!-- Menu 1 finques-->    
    <ons-template id="finques.html">
        <ng-include src="'htmls/Finques.html'"></ng-include>
    </ons-template>

    <!-- es crea una nova finca-->
    <ons-template id="NovaFinca.html">
        <ng-include src="'htmls/Finques.html'"></ng-include>
    </ons-template>
    <!-- modifica una finca-->
    <ons-template id="EditarFinca.html">
        <ng-include src="'htmls/Finques.html'"></ng-include>
    </ons-template>
    <!-- Mostra tots les vistes de la finca-->
    <ons-template id="DetallFinca.html">
        <ng-include src="'htmls/Finques.html'"></ng-include>
    </ons-template>
    <!-- Quan es vol crear una nova visita-->
    <ons-template id="NovaVisita.html">
         <ng-include src="'htmls/Visites.html'"></ng-include>
    </ons-template>

    <!-- mostra els camps de la visita-->
    <ons-template id="DetallVisita.html">
        <ng-include src="'htmls/Visites.html'"></ng-include>
    </ons-template>

    <!-- captura una imatge-->
    <ons-template id="ferFoto.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="right"><ons-back-button>Back</ons-back-button></div>
                <div class="center" >{{dades.Titol}}</div>
            </ons-toolbar>

            <p style="text-align: center">
            <ons-button modifier="light" ng-click="app.navi.popPage('formPricipal.html');">Pop</ons-button>
            </p>
        </ons-page>
    </ons-template>
    <!-- localitzacio gps -->
    <ons-template id="localitzacio.html">
        <ons-page>
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">GPS</div>
            </ons-toolbar>

            <p style="text-align: center">
            <ons-button modifier="light" ng-click="app.navi.popPage('formPricipal.html');">Pop</ons-button>
            </p>
        </ons-page>
    </ons-template>

    <!--Menu 2 Totes les Visites del tecnic-->
    <ons-template id="visites.html">
        <ng-include src="'htmls/Visites.html'"></ng-include>
    </ons-template>    
</body>
</html>
